<div class="component">
    <div class="head">表单组件</div>
    <div class="component-group" id="sort_1">
        <ol data-tag="input">
            <div class="icon"><i class="layui-icon layui-icon-layer"></i></div>
            <div class="name">单行输入</div>
        </ol>
        <ol data-tag="textarea">
            <div class="icon"><i class="layui-icon layui-icon-align-left"></i></div>
            <div class="name">多行输入</div>
        </ol>
        <ol data-tag="radio">
            <div class="icon"><i class="layui-icon layui-icon-radio"></i></div>
            <div class="name">单选框</div>
        </ol>
        <ol data-tag="checkbox">
            <div class="icon"><i class="layui-icon layui-icon-table"></i></div>
            <div class="name">多选框</div>
        </ol>
        <ol data-tag="select">
            <div class="icon"><i class="layui-icon layui-icon-print"></i></div>
            <div class="name">下拉框</div>
        </ol>
        <ol data-tag="xmSelect">
            <div class="icon"><i class="layui-icon layui-icon-align-left"></i></div>
            <div class="name">下拉多选框</div>
        </ol>
        <ol data-tag="date">
            <div class="icon"><i class="layui-icon layui-icon-time"></i></div>
            <div class="name">日期组件</div>
        </ol>
        <ol data-tag="colorpicker">
            <div class="icon"><i class="layui-icon layui-icon-theme"></i></div>
            <div class="name">颜色选择器</div>
        </ol>
        <ol data-tag="slider">
            <div class="icon"><i class="layui-icon layui-icon-slider"></i></div>
            <div class="name">滑块</div>
        </ol>
        <ol data-tag="rate">
            <div class="icon"><i class="layui-icon layui-icon-rate-solid"></i></div>
            <div class="name">评分</div>
        </ol>
        <ol data-tag="switch">
            <div class="icon">
                <i class="layui-icon layui-icon-switch">
                    <span></span>
                </i>
            </div>
            <div class="name">开关</div>
        </ol>
        <ol data-tag="address">
            <div class="icon"><i class="layui-icon layui-icon-home"></i></div>
            <div class="name">详细地址</div>
        </ol>
 
        <ol data-tag="upload">
            <div class="icon"><i class="layui-icon layui-icon-upload-drag"></i></div>
            <div class="name">文件上传</div>
        </ol>
        <ol data-tag="uploadInput">
            <div class="icon"><i class="layui-icon layui-icon-upload"></i></div>
            <div class="name">上传输入框</div>
        </ol>

    </div>
</div>

<div class="component">
    <div class="head">辅助组件</div>
    <div class="component-group" id="sort_2">
        <ol data-tag="note">
            <div class="icon"><i class="layui-icon layui-icon-note"></i></div>
            <div class="name">便签</div>
        </ol>
        <ol data-tag="subtraction">
            <div class="icon"><i class="layui-icon layui-icon-subtraction"></i>
            </div>
            <div class="name">分割线</div>
        </ol>
        <ol data-tag="carousel">
            <div class="icon"><i class="layui-icon layui-icon-carousel"></i></div>
            <div class="name">轮播图</div>
        </ol>
        <ol data-tag="button">
            <div class="icon"><i class="layui-icon layui-icon-layer"></i></div>
            <div class="name">按钮</div>
        </ol>
        <ol data-tag="link">
            <div class="icon"><i class="layui-icon layui-icon-link"></i></div>
            <div class="name">链接</div>
        </ol>
        <ol data-tag="img">
            <div class="icon"><i class="layui-icon layui-icon-picture"></i></div>
            <div class="name">图片</div>
        </ol>
        <ol data-tag="video">
            <div class="icon"><i class="layui-icon layui-icon-video"></i></div>
            <div class="name">视频</div>
        </ol>
        <ol data-tag="audio">
            <div class="icon"><i class="layui-icon layui-icon-headset"></i></div>
            <div class="name">音频</div>
        </ol>
    </div>
</div>
<div class="component">
    <div class="head">布局组件</div>
    <div class="component-group" id="sort_3">
        <ol data-tag="grid">
            <div class="icon"><i class="layui-icon layui-icon-layouts"></i></div>
            <div class="name">栅格</div>
        </ol>
        <ol data-tag="space">
            <div class="icon"><i class="layui-icon layui-icon-more"></i></div>
            <div class="name">间距</div>
        </ol>
    </div>
</div>