<div class="fr">
    <!-- <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-return">
        <i class="layui-icon layui-icon-return"></i> 返回
    </button> -->
    <button type="button" class="layui-btn layui-bg-blue layui-btn-sm layui-btn-save">
        <i class="layui-icon layui-icon-file-b"></i> 保存
    </button>
    <!-- <button type="button" class="layui-btn layui-btn-sm layui-btn-export">
        <i class="layui-icon layui-icon-export"></i> 导出
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-import">
        <i class="layui-icon layui-icon-layer"></i> 导入
    </button> -->
    <button type="button" class="layui-btn layui-btn-sm layui-btn-component">
        <i class="layui-icon layui-icon-component"></i> 预览
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger layui-form-clear">
        <i class="layui-icon layui-icon-delete"></i> 清空
    </button>
</div>